@import "tailwindcss";

/* Initial CSS placeholder */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

/* Slider Dots */
.slider-dots span {
    transition: background 0.3s ease, transform 0.3s ease;
}

.slider-dots span:hover {
    transform: scale(1.2);
}

.single_testmonial.active {
    z-index: 2;
}
